<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.regatta.serve</string>

	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/regatta</string>
		<string>serve</string>
		<string>--repo</string>
		<string>REGATTA_REPO_PATH</string>
	</array>

	<key>WorkingDirectory</key>
	<string>REGATTA_REPO_PATH</string>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
		<key>NetworkState</key>
		<true/>
	</dict>

	<key>ThrottleInterval</key>
	<integer>30</integer>

	<key>ProcessType</key>
	<string>Interactive</string>

	<key>StandardOutPath</key>
	<string>REGATTA_LOG_DIR/stdout.log</string>

	<key>StandardErrorPath</key>
	<string>REGATTA_LOG_DIR/stderr.log</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
		<key>HOME</key>
		<string>REGATTA_HOME</string>
	</dict>
</dict>
</plist>
